/bin
/build
/Link to ESP8266_temp_and_humidity_workspace/.metadata/.plugins/org.eclipse.core.resources/.history
/Link to ESP8266_temp_and_humidity_workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/ESP8266_temp_and_humidity/.indexes
